In [1]:
train = pd.read_csv("./raw/application_train.csv")

In [2]:
previous_application_train = pd.read_csv("./raw/previous_application.csv")

In [3]:
target = train.iloc[:, 0:2]

In [4]:
len(target)

307511

In [5]:
previous_application_train.head()

   SK_ID_PREV  SK_ID_CURR NAME_CONTRACT_TYPE  AMT_ANNUITY  AMT_APPLICATION  AMT_CREDIT  AMT_DOWN_PAYMENT  AMT_GOODS_PRICE WEEKDAY_APPR_PROCESS_START  HOUR_APPR_PROCESS_START FLAG_LAST_APPL_PER_CONTRACT  NFLAG_LAST_APPL_IN_DAY  RATE_DOWN_PAYMENT  RATE_INTEREST_PRIMARY  RATE_INTEREST_PRIVILEGED NAME_CASH_LOAN_PURPOSE NAME_CONTRACT_STATUS  DAYS_DECISION      NAME_PAYMENT_TYPE CODE_REJECT_REASON  NAME_TYPE_SUITE NAME_CLIENT_TYPE NAME_GOODS_CATEGORY NAME_PORTFOLIO NAME_PRODUCT_TYPE             CHANNEL_TYPE  SELLERPLACE_AREA NAME_SELLER_INDUSTRY  CNT_PAYMENT NAME_YIELD_GROUP       PRODUCT_COMBINATION  DAYS_FIRST_DRAWING  DAYS_FIRST_DUE  DAYS_LAST_DUE_1ST_VERSION  DAYS_LAST_DUE  DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
0     2030495      271877     Consumer loans     1730.430          17145.0     17145.0               0.0          17145.0                   SATURDAY                       15                           Y                       1                0.0               0.182832                  0.867336                    XAP             Approved            -73  Cash through the bank                XAP              NaN         Repeater              Mobile            POS               XNA             Country-wide                35         Connectivity         12.0           middle  POS mobile with interest            365243.0           -42.0                      300.0          -42.0             -37.0                        0.0
1     2802425      108129         Cash loans    25188.615         607500.0    679671.0               NaN         607500.0                   THURSDAY                       11                           Y                       1                NaN                    NaN                       NaN                    XNA             Approved           -164                    XNA                XAP    Unaccompanied         Repeater                 XNA           Cash            x-sell           Contact center                -1                  XNA         36.0       low_action          Cash X-Sell: low            365243.0          -134.0                      916.0       365243.0          365243.0                        1.0
2     2523466      122040         Cash loans    15060.735         112500.0    136444.5               NaN         112500.0                    TUESDAY                       11                           Y                       1                NaN                    NaN                       NaN                    XNA             Approved           -301  Cash through the bank                XAP  Spouse, partner         Repeater                 XNA           Cash            x-sell  Credit and cash offices                -1                  XNA         12.0             high         Cash X-Sell: high            365243.0          -271.0                       59.0       365243.0          365243.0                        1.0
3     2819243      176158         Cash loans    47041.335         450000.0    470790.0               NaN         450000.0                     MONDAY                        7                           Y                       1                NaN                    NaN                       NaN                    XNA             Approved           -512  Cash through the bank                XAP              NaN         Repeater                 XNA           Cash            x-sell  Credit and cash offices                -1                  XNA         12.0           middle       Cash X-Sell: middle            365243.0          -482.0                     -152.0         -182.0            -177.0                        1.0
4     1784265      202054         Cash loans    31924.395         337500.0    404055.0               NaN         337500.0                   THURSDAY                        9                           Y                       1                NaN                    NaN                       NaN                Repairs              Refused           -781  Cash through the bank                 HC              NaN         Repeater                 XNA           Cash           walk-in  Credit and cash offices                -1                  XNA         24.0             high         Cash Street: high                 NaN             NaN                        NaN            NaN               NaN                        NaN

In [6]:
# previous_application에서 train만 골라내기
previous_application_train = previous_application_train[previous_application_train.SK_ID_CURR.isin(train.SK_ID_CURR)]

In [7]:
len(set(previous_application_train.SK_ID_CURR))

291057

In [8]:
# 각 DataFrame에 Target 값 넣기
#credit_card = credit_card_train.merge(target, how = "inner", on="SK_ID_CURR")
#installments_payment = installments_payment_train.merge(target, how = "inner", on="SK_ID_CURR")
#previous_application = previous_application_train.merge(target, how = "inner", on="SK_ID_CURR")

In [9]:
#previous_application0 = previous_application[previous_application.TARGET == 0]
#previous_application1 = previous_application[previous_application.TARGET == 1]

In [10]:
#print("credit_card 원래 train수: {}, ID 수 : {}".format(len(credit_card), len(set(credit_card.SK_ID_CURR))))
#print("installments_payment 원래 train수: {}, ID 수 : {}".format(len(installments_payment), len(set(installments_payment.SK_ID_CURR))))
print("previous_application 원래 train수: {}, ID 수 : {}".format(len(previous_application_train), len(set(previous_application_train.SK_ID_CURR))))

previous_application 원래 train수: 1413701, ID 수 : 291057

In [11]:
# previous_application
previous_application_multi = ['NAME_CONTRACT_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'NAME_CASH_LOAN_PURPOSE',
                              'NAME_CONTRACT_STATUS', 'NAME_PAYMENT_TYPE', 'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 
                              'NAME_CLIENT_TYPE', 'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE',
                              'CHANNEL_TYPE',  'NAME_SELLER_INDUSTRY', 'NAME_YIELD_GROUP',
                              'PRODUCT_COMBINATION', 'HOUR_APPR_PROCESS_START']
previous_application_continuous = ['AMT_ANNUITY', 'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_DOWN_PAYMENT', 
                                  'AMT_GOODS_PRICE', 'DAYS_FIRST_DRAWING', 'DAYS_DECISION', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION',
                              'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'CNT_PAYMENT']
previous_application_dummy = ['FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY', 'NFLAG_INSURED_ON_APPROVAL']
previous_application_normalized = ['RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY', 'RATE_INTEREST_PRIVILEGED']
confirm_needed= ['SELLERPLACE_AREA', ]

# installments_payments 파일 변수
#installments_payments_continuous = ['DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT', 'AMT_INSTALMENT', 'AMT_PAYMENT']
#installments_payments_multi = []
#confirm_needed= ['NUM_INSTALMENT_VERSION', 'NUM_INSTALMENT_NUMBER']

# credit_card_balance 파일
#credit_card_continuous = ['MONTHS_BALANCE', 'AMT_BALANCE', 'AMT_CREDIT_LIMIT_ACTUAL',
#                          'AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_CURRENT',
#                          'AMT_DRAWINGS_OTHER_CURRENT', 'AMT_DRAWINGS_POS_CURRENT',
#                          'AMT_INST_MIN_REGULARITY', 'AMT_PAYMENT_CURRENT',
#                          'AMT_PAYMENT_TOTAL_CURRENT', 'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE',
#                          'AMT_TOTAL_RECEIVABLE', 'SK_DPD', 'SK_DPD_DEF']
#credit_card_multi = ['NAME_CONTRACT_STATUS']
#confirm_needed = ['CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT', 'CNT_DRAWINGS_OTHER_CURRENT',
#                   'CNT_DRAWINGS_POS_CURRENT', 'CNT_INSTALMENT_MATURE_CUM']

# 'XNA', 'XAP' 를 NaN처리, NaN값이 70%이상인 경우 변수제거

In [12]:
previous_application = previous_application_train.replace("XNA", np.NaN)
previous_application = previous_application.replace("XAP", np.NaN)
previous_application = previous_application.replace("nan", np.NaN)
previous_application = previous_application.replace("NaN", np.NaN)

- train에 ID가 있는 데이터 중에서 nan값의 비율
- DAYS_FIRST_DRAWING, DAYS_FIRST_DUE, DAYS_LAST_DUE_1ST_VERSION, DAYS_LAST_DUE, DAYS_TERMINATION, NFLAG_INSURED_ON_APPROVAL은 nan값이 561106개로 동일

In [13]:
previous_application_train.isnull().sum()

SK_ID_PREV                           0
SK_ID_CURR                           0
NAME_CONTRACT_TYPE                   0
AMT_ANNUITY                     307218
AMT_APPLICATION                      0
AMT_CREDIT                           1
AMT_DOWN_PAYMENT                749540
AMT_GOODS_PRICE                 319525
WEEKDAY_APPR_PROCESS_START           0
HOUR_APPR_PROCESS_START              0
FLAG_LAST_APPL_PER_CONTRACT          0
NFLAG_LAST_APPL_IN_DAY               0
RATE_DOWN_PAYMENT               749540
RATE_INTEREST_PRIMARY          1408910
RATE_INTEREST_PRIVILEGED       1408910
NAME_CASH_LOAN_PURPOSE               0
NAME_CONTRACT_STATUS                 0
DAYS_DECISION                        0
NAME_PAYMENT_TYPE                    0
CODE_REJECT_REASON                   0
NAME_TYPE_SUITE                 694672
NAME_CLIENT_TYPE                     0
NAME_GOODS_CATEGORY                  0
NAME_PORTFOLIO                       0
NAME_PRODUCT_TYPE                    0
CHANNEL_TYPE                         0
SELLERPLACE_AREA                     0
NAME_SELLER_INDUSTRY                 0
CNT_PAYMENT                     307213
NAME_YIELD_GROUP                     0
PRODUCT_COMBINATION                313
DAYS_FIRST_DRAWING              561106
DAYS_FIRST_DUE                  561106
DAYS_LAST_DUE_1ST_VERSION       561106
DAYS_LAST_DUE                   561106
DAYS_TERMINATION                561106
NFLAG_INSURED_ON_APPROVAL       561106
dtype: int64

XNA, XAP를 nan으로 변환한 후 nan값의 비율

In [14]:
removed_var = []
for var in previous_application.columns:
    print(var, previous_application[var].isnull().sum(), round(previous_application[var].isnull().sum()/len(previous_application[var])*100, 2), sep="\t")
    if round(previous_application[var].isnull().sum()/len(previous_application[var])*100) >= 30:
             removed_var.append(var)

SK_ID_PREV	0	0.0
SK_ID_CURR	0	0.0
NAME_CONTRACT_TYPE	313	0.02
AMT_ANNUITY	307218	21.73
AMT_APPLICATION	0	0.0
AMT_CREDIT	1	0.0
AMT_DOWN_PAYMENT	749540	53.02
AMT_GOODS_PRICE	319525	22.6
WEEKDAY_APPR_PROCESS_START	0	0.0
HOUR_APPR_PROCESS_START	0	0.0
FLAG_LAST_APPL_PER_CONTRACT	0	0.0
NFLAG_LAST_APPL_IN_DAY	0	0.0
RATE_DOWN_PAYMENT	749540	53.02
RATE_INTEREST_PRIMARY	1408910	99.66
RATE_INTEREST_PRIVILEGED	1408910	99.66
NAME_CASH_LOAN_PURPOSE	1354288	95.8
NAME_CONTRACT_STATUS	0	0.0
DAYS_DECISION	0	0.0
NAME_PAYMENT_TYPE	522960	36.99
CODE_REJECT_REASON	1149911	81.34
NAME_TYPE_SUITE	694672	49.14
NAME_CLIENT_TYPE	1543	0.11
NAME_GOODS_CATEGORY	797209	56.39
NAME_PORTFOLIO	307213	21.73
NAME_PRODUCT_TYPE	900053	63.67
CHANNEL_TYPE	0	0.0
SELLERPLACE_AREA	0	0.0
NAME_SELLER_INDUSTRY	715322	50.6
CNT_PAYMENT	307213	21.73
NAME_YIELD_GROUP	429198	30.36
PRODUCT_COMBINATION	313	0.02
DAYS_FIRST_DRAWING	561106	39.69
DAYS_FIRST_DUE	561106	39.69
DAYS_LAST_DUE_1ST_VERSION	561106	39.69
DAYS_LAST_DUE	561106	39.69
DAYS_TERMINATION	561106	39.69
NFLAG_INSURED_ON_APPROVAL	561106	39.69

In [15]:
print(removed_var, len(removed_var))

['AMT_DOWN_PAYMENT', 'RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY', 'RATE_INTEREST_PRIVILEGED', 'NAME_CASH_LOAN_PURPOSE', 'NAME_PAYMENT_TYPE', 'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 'NAME_GOODS_CATEGORY', 'NAME_PRODUCT_TYPE', 'NAME_SELLER_INDUSTRY', 'NAME_YIELD_GROUP', 'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION', 'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'NFLAG_INSURED_ON_APPROVAL'] 18

In [16]:
for var in removed_var:
    del previous_application[var]

In [17]:
len(previous_application_train.columns) - len(removed_var)

19

In [18]:
len(previous_application.columns)

19

---

# continuous 변수에서 NaN값 평균으로 채우기

In [19]:
continuous = list(set(previous_application_continuous+previous_application_normalized) - set(removed_var))

In [20]:
continuous

['AMT_ANNUITY',
 'AMT_CREDIT',
 'CNT_PAYMENT',
 'AMT_APPLICATION',
 'DAYS_DECISION',
 'AMT_GOODS_PRICE']

In [21]:
for var in continuous:
    previous_application[var].fillna(previous_application[var].mean(), inplace=True)

In [22]:
# 원래 값과 비교
previous_application_train[continuous].describe()

        AMT_ANNUITY    AMT_CREDIT   CNT_PAYMENT  AMT_APPLICATION  DAYS_DECISION  AMT_GOODS_PRICE
count  1.106483e+06  1.413700e+06  1.106488e+06     1.413701e+06   1.413701e+06     1.094176e+06
mean   1.583718e+04  1.963541e+05  1.605194e+01     1.752436e+05  -8.803670e+02     2.264512e+05
std    1.472491e+04  3.194813e+05  1.456675e+01     2.936222e+05   7.835402e+02     3.159376e+05
min    0.000000e+00  0.000000e+00  0.000000e+00     0.000000e+00  -2.922000e+03     0.000000e+00
25%    6.257858e+03  2.488050e+04  6.000000e+00     1.975050e+04  -1.313000e+03     4.982850e+04
50%    1.122376e+04  8.059500e+04  1.200000e+01     7.087050e+04  -5.820000e+02     1.102455e+05
75%    2.042078e+04  2.156400e+05  2.400000e+01     1.800000e+05  -2.710000e+02     2.295000e+05
max    4.180581e+05  4.509688e+06  8.400000e+01     5.850000e+06  -1.000000e+00     5.850000e+06

In [23]:
previous_application[continuous].describe()

        AMT_ANNUITY    AMT_CREDIT   CNT_PAYMENT  AMT_APPLICATION  DAYS_DECISION  AMT_GOODS_PRICE
count  1.413701e+06  1.413701e+06  1.413701e+06     1.413701e+06   1.413701e+06     1.413701e+06
mean   1.583718e+04  1.963541e+05  1.605194e+01     1.752436e+05  -8.803670e+02     2.264512e+05
std    1.302705e+04  3.194811e+05  1.288716e+01     2.936222e+05   7.835402e+02     2.779496e+05
min    0.000000e+00  0.000000e+00  0.000000e+00     0.000000e+00  -2.922000e+03     0.000000e+00
25%    7.406055e+03  2.488050e+04  1.000000e+01     1.975050e+04  -1.313000e+03     6.637500e+04
50%    1.507734e+04  8.059500e+04  1.200000e+01     7.087050e+04  -5.820000e+02     1.640430e+05
75%    1.674797e+04  2.156400e+05  1.800000e+01     1.800000e+05  -2.710000e+02     2.264512e+05
max    4.180581e+05  4.509688e+06  8.400000e+01     5.850000e+06  -1.000000e+00     5.850000e+06

# category 변수에서 NaN값 mode으로 채우기

In [24]:
category = list(set(previous_application_multi+previous_application_dummy+confirm_needed) - set(removed_var))
category

['NAME_CONTRACT_TYPE',
 'PRODUCT_COMBINATION',
 'NAME_CONTRACT_STATUS',
 'NFLAG_LAST_APPL_IN_DAY',
 'FLAG_LAST_APPL_PER_CONTRACT',
 'WEEKDAY_APPR_PROCESS_START',
 'NAME_PORTFOLIO',
 'NAME_CLIENT_TYPE',
 'CHANNEL_TYPE',
 'HOUR_APPR_PROCESS_START',
 'SELLERPLACE_AREA']

In [25]:
for var in category:
    previous_application[var] = previous_application[var].astype("str")
    previous_application[var] = previous_application[var].replace("nan", previous_application[var].mode())

'SELLERPLACE_AREA'의 -1은 nan과 같은 건가

In [26]:
previous_application['SELLERPLACE_AREA'].mode()

0    -1
dtype: object

In [27]:
previous_application.NAME_PORTFOLIO.replace("nan", "POS", inplace=True)
previous_application.PRODUCT_COMBINATION.replace("nan", "Cash", inplace=True)
previous_application.NAME_CLIENT_TYPE.replace("nan", "Repeater", inplace=True)
previous_application.NAME_CONTRACT_TYPE.replace("nan", "Cash loans", inplace=True)

왜 nan 값이 replace 안되는 거지..., fillna도 안되고

In [28]:
previous_application_train[category].describe(include=["object", "category"])

       NAME_CONTRACT_TYPE PRODUCT_COMBINATION NAME_CONTRACT_STATUS FLAG_LAST_APPL_PER_CONTRACT WEEKDAY_APPR_PROCESS_START NAME_PORTFOLIO NAME_CLIENT_TYPE             CHANNEL_TYPE
count             1413701             1413388              1413701                     1413701                    1413701        1413701          1413701                  1413701
unique                  4                  17                    4                           2                          7              5                4                        8
top            Cash loans                Cash             Approved                           Y                  WEDNESDAY            POS         Repeater  Credit and cash offices
freq               626764              235101               886099                     1406387                     215519         592460          1037682                   600342

In [29]:
previous_application[category].describe(include=["object", "category"])

       NAME_CONTRACT_TYPE PRODUCT_COMBINATION NAME_CONTRACT_STATUS NFLAG_LAST_APPL_IN_DAY FLAG_LAST_APPL_PER_CONTRACT WEEKDAY_APPR_PROCESS_START NAME_PORTFOLIO NAME_CLIENT_TYPE             CHANNEL_TYPE HOUR_APPR_PROCESS_START SELLERPLACE_AREA
count             1413701             1413701              1413701                1413701                     1413701                    1413701        1413701          1413701                  1413701                 1413701          1413701
unique                  3                  17                    4                      2                           2                          7              4                3                        8                      24             2077
top            Cash loans                Cash             Approved                      1                           Y                  WEDNESDAY            POS         Repeater  Credit and cash offices                      11               -1
freq               627077              235414               886099                1408657                     1406387                     215519         899673          1039225                   600342                  163264           636583

In [30]:
for var in category:
    print(var, previous_application[var].unique())

NAME_CONTRACT_TYPE ['Consumer loans' 'Cash loans' 'Revolving loans']
PRODUCT_COMBINATION ['POS mobile with interest' 'Cash X-Sell: low' 'Cash X-Sell: high'
 'Cash X-Sell: middle' 'Cash Street: high' 'Cash'
 'POS other with interest' 'POS household with interest' 'Card X-Sell'
 'POS household without interest' 'POS mobile without interest'
 'Card Street' 'POS industry with interest' 'Cash Street: low'
 'POS industry without interest' 'Cash Street: middle'
 'POS others without interest']
NAME_CONTRACT_STATUS ['Approved' 'Refused' 'Canceled' 'Unused offer']
NFLAG_LAST_APPL_IN_DAY ['1' '0']
FLAG_LAST_APPL_PER_CONTRACT ['Y' 'N']
WEEKDAY_APPR_PROCESS_START ['SATURDAY' 'THURSDAY' 'TUESDAY' 'MONDAY' 'FRIDAY' 'WEDNESDAY' 'SUNDAY']
NAME_PORTFOLIO ['POS' 'Cash' 'Cards' 'Cars']
NAME_CLIENT_TYPE ['Repeater' 'New' 'Refreshed']
CHANNEL_TYPE ['Country-wide' 'Contact center' 'Credit and cash offices'
 'Regional / Local' 'Stone' 'AP+ (Cash loan)' 'Channel of corporate sales'
 'Car dealer']
HOUR_APPR_PROCESS_START ['15' '11' '7' '9' '8' '10' '12' '14' '16' '6' '4' '5' '19' '17' '13' '18'
 '20' '22' '21' '3' '1' '2' '23' '0']
SELLERPLACE_AREA ['35' '-1' '130' ... '2233' '887' '2420']

---

get_dummy후 groupby하려면 메모리 에러가 떠서 우선 sellerplace_area를 제거하고 파일 만들기

In [31]:
del previous_application["SELLERPLACE_AREA"]

In [32]:
previous_application.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1413701 entries, 0 to 1670213
Data columns (total 18 columns):
SK_ID_PREV                     1413701 non-null int64
SK_ID_CURR                     1413701 non-null int64
NAME_CONTRACT_TYPE             1413701 non-null object
AMT_ANNUITY                    1413701 non-null float64
AMT_APPLICATION                1413701 non-null float64
AMT_CREDIT                     1413701 non-null float64
AMT_GOODS_PRICE                1413701 non-null float64
WEEKDAY_APPR_PROCESS_START     1413701 non-null object
HOUR_APPR_PROCESS_START        1413701 non-null object
FLAG_LAST_APPL_PER_CONTRACT    1413701 non-null object
NFLAG_LAST_APPL_IN_DAY         1413701 non-null object
NAME_CONTRACT_STATUS           1413701 non-null object
DAYS_DECISION                  1413701 non-null int64
NAME_CLIENT_TYPE               1413701 non-null object
NAME_PORTFOLIO                 1413701 non-null object
CHANNEL_TYPE                   1413701 non-null object
CNT_PAYMENT                    1413701 non-null float64
PRODUCT_COMBINATION            1413701 non-null object
dtypes: float64(5), int64(3), object(10)
memory usage: 244.9+ MB

In [33]:
category

['NAME_CONTRACT_TYPE',
 'PRODUCT_COMBINATION',
 'NAME_CONTRACT_STATUS',
 'NFLAG_LAST_APPL_IN_DAY',
 'FLAG_LAST_APPL_PER_CONTRACT',
 'WEEKDAY_APPR_PROCESS_START',
 'NAME_PORTFOLIO',
 'NAME_CLIENT_TYPE',
 'CHANNEL_TYPE',
 'HOUR_APPR_PROCESS_START',
 'SELLERPLACE_AREA']

In [34]:
previous_application_fi = pd.get_dummies(previous_application)

In [35]:
dataset = previous_application_fi.groupby("SK_ID_CURR").sum()
dataset[continuous] = previous_application_fi.groupby("SK_ID_CURR")[continuous].mean()

In [36]:
len(dataset), len(dataset.columns)

(291057, 81)

In [39]:
dataset.reset_index(inplace=True)

In [41]:
del dataset["SK_ID_PREV"]

In [42]:
dataset.tail()

,SK_ID_CURR,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_GOODS_PRICE,DAYS_DECISION,CNT_PAYMENT,NAME_CONTRACT_TYPE_Cash loans,NAME_CONTRACT_TYPE_Consumer loans,NAME_CONTRACT_TYPE_Revolving loans,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,HOUR_APPR_PROCESS_START_0,HOUR_APPR_PROCESS_START_1,HOUR_APPR_PROCESS_START_10,HOUR_APPR_PROCESS_START_11,HOUR_APPR_PROCESS_START_12,HOUR_APPR_PROCESS_START_13,HOUR_APPR_PROCESS_START_14,HOUR_APPR_PROCESS_START_15,HOUR_APPR_PROCESS_START_16,HOUR_APPR_PROCESS_START_17,HOUR_APPR_PROCESS_START_18,HOUR_APPR_PROCESS_START_19,HOUR_APPR_PROCESS_START_2,HOUR_APPR_PROCESS_START_20,HOUR_APPR_PROCESS_START_21,HOUR_APPR_PROCESS_START_22,HOUR_APPR_PROCESS_START_23,HOUR_APPR_PROCESS_START_3,HOUR_APPR_PROCESS_START_4,HOUR_APPR_PROCESS_START_5,HOUR_APPR_PROCESS_START_6,HOUR_APPR_PROCESS_START_7,HOUR_APPR_PROCESS_START_8,HOUR_APPR_PROCESS_START_9,FLAG_LAST_APPL_PER_CONTRACT_N,FLAG_LAST_APPL_PER_CONTRACT_Y,NFLAG_LAST_APPL_IN_DAY_0,NFLAG_LAST_APPL_IN_DAY_1,NAME_CONTRACT_STATUS_Approved,NAME_CONTRACT_STATUS_Canceled,NAME_CONTRACT_STATUS_Refused,NAME_CONTRACT_STATUS_Unused offer,NAME_CLIENT_TYPE_New,NAME_CLIENT_TYPE_Refreshed,NAME_CLIENT_TYPE_Repeater,NAME_PORTFOLIO_Cards,NAME_PORTFOLIO_Cars,NAME_PORTFOLIO_Cash,NAME_PORTFOLIO_POS,CHANNEL_TYPE_AP+ (Cash loan),CHANNEL_TYPE_Car dealer,CHANNEL_TYPE_Channel of corporate sales,CHANNEL_TYPE_Contact center,CHANNEL_TYPE_Country-wide,CHANNEL_TYPE_Credit and cash offices,CHANNEL_TYPE_Regional / Local,CHANNEL_TYPE_Stone,PRODUCT_COMBINATION_Card Street,PRODUCT_COMBINATION_Card X-Sell,PRODUCT_COMBINATION_Cash,PRODUCT_COMBINATION_Cash Street: high,PRODUCT_COMBINATION_Cash Street: low,PRODUCT_COMBINATION_Cash Street: middle,PRODUCT_COMBINATION_Cash X-Sell: high,PRODUCT_COMBINATION_Cash X-Sell: low,PRODUCT_COMBINATION_Cash X-Sell: middle,PRODUCT_COMBINATION_POS household with interest,PRODUCT_COMBINATION_POS household without interest,PRODUCT_COMBINATION_POS industry with interest,PRODUCT_COMBINATION_POS industry without interest,PRODUCT_COMBINATION_POS mobile with interest,PRODUCT_COMBINATION_POS mobile without interest,PRODUCT_COMBINATION_POS other with interest,PRODUCT_COMBINATION_POS others without interest
291052,456251,6605.910000,40455.000,40455.00,40455.000,-273.000,8.00,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
291053,456252,10074.465000,57595.500,56821.50,57595.500,-2497.000,6.00,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
291054,456253,4770.405000,24162.750,20625.75,24162.750,-2380.000,5.00,0,2,0,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,2,2,0,0,0,0,1,1,0,0,0,2,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0
291055,456254,10681.132500,121317.750,134439.75,121317.750,-299.500,15.00,0,2,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,2,2,0,0,0,1,0,1,0,0,0,2,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0
291056,456255,20775.391875,362770.875,424431.00,362770.875,-587.625,21.75,4,3,1,3,0,0,2,2,1,0,0,0,0,0,1,1,4,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8,0,8,6,0,2,0,0,1,7,1,0,4,3,1,0,0,0,3,3,1,0,1,0,0,0,1,0,0,1,2,0,0,1,0,2,0,0,0

In [45]:
dataset.to_csv("previous_application_dataset_rm_sellerplace.csv", index=False)

---

# 끝

---